@model ProductListVM

@{
    ViewData["Title"] = "Products";
}
    <a asp-controller="Product" asp-action="CreateProduct" class="btn btn-success">Create Product</a>
    <div>@ViewBag.Message</div>
<h2>Products</h2>



<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (ProductVM product in Model.Products)
            {
                <h3>@product.Id</h3>
                <h3>@product.Name</h3>
                <a class="btn btn-link" asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.Id">More Details</a>

            }
        </ul>
    </div>
</div>
