@model CreateProductVM
@{
    ViewData["Title"] = "CreateProduct";
}

<h3>Create Product</h3>

@if (ViewBag.Error != null)
{
    <div class=" alert alert-danger">
        @ViewBag.Error
    </div>
}


<form action="CreateProduct" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" /><br />

    <label asp-for="Description"></label>
    <input asp-for="Description" /><br />

    <label asp-for="Price"></label>
    <input asp-for="Price" /><br />

    <label asp-for="Category"></label>
    <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()"></select><br />

    <button type="submit" class="btn btn-success">Create product</button>

</form>

